[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
klibs = {git = "https://github.com/a-hurst/klibs.git", ref = "d5775ac89659e502eccc686802ab0ee49b36d1d4"}
magneto = {git = "https://github.com/a-hurst/magneto.git", ref = "bf20ab0787b27ea3449124e600ccf0f09f3cc1a0"}
LabJackPython = "*"

[dev-packages]
