[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
klibs = {file = "https://github.com/a-hurst/klibs/releases/download/0.7.6b1/klibs.tar.gz"}
magneto = {git = "https://github.com/a-hurst/magneto.git", ref = "df12d1f9daeb5a2cf5784eb22cd5ff81df1b048c"}
LabJackPython = "*"
pillow = "==9.5.0"

[dev-packages]
