[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
klibs = {git = "https://github.com/a-hurst/klibs.git", ref = "7318a6a726f145e86d4785bf4d6067298f979e61"}
magneto = {git = "https://github.com/a-hurst/magneto.git", ref = "bf20ab0787b27ea3449124e600ccf0f09f3cc1a0"}
LabJackPython = "*"

[dev-packages]
